ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#carousel {
    width: 800px;
    height: 500px;
    margin: 0 auto;
    position:relative;
}

.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slidesHolder,
.controllers {
    position: relative;
    height: 100%;
    width: 100%;
}

.slidesHolder img {
    position: absolute;
    width: 100%;
    height: 100%;
}


/*controllers*/

.controllers {
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
}


.controllers .prev,
.controllers .next {
    position: absolute;
    height: 50%;
    transform: translate(0, 50%);
    width: 50px;
    color: white;
    opacity: 0;
    font-size: 60px;
    text-align: center;
    cursor: pointer;
    line-height: 250px;
    transition: all .2s;
    background: rgba(0, 0, 0, 0.40);
}

.controllers .noMore{
    display:none;
}

.controllers .next{
    right:0;
}
.controllers .prev:before {
    content: '<';
    display:table;
    width:100%;
}

.controllers .next:before {
    content: '>';
    display:table;
    width:100%;
}

.controllers:hover .next,
.controllers:hover .prev {
    opacity: 1;
}